
h1 {
  text-decoration:
}
.thumbnail {
  display: flex;
}

.questions {
  font-size:  80px;
}

.textPics{
  font-size: 80px;

}

.vdText{
  font-size: 35px;
  background-image: url("water_b.jpg");
}

.bkColor{
  background-color: #C2AFF0;
}
.pics {
  width: 100%;
  height: auto;
}

.backGNDimg {
  background-image: url("water_1.jpg");
}
.links {
  font-size: 80px;
}
