
h1 {
  text-decoration:
}
.thumbnail {
  display: flex;
}

.questions {
  font-size:  80px;
}

.textPics{
  font-size: 80px;

}

.vdText{
  font-size: 35px;
  background-image: url("water_b.jpg");
}

.bkColor{
  background-color: #C2AFF0;
}

.frstVideo{
  display: flex;
  align-content: flex-start;
}

.sndVideo{
  display: flex;
  align-content: flex-end;
}
.pics {
  display: flex;
  flex-wrap: wrap;
  align-items:flex-start;
  width: 100%;
  height: auto;
}

.picsEnd{
  align-self: flex-end;
}

.backGNDimg {
  background-image: url("water_1.jpg");
}
.links {
  font-size: 80px;
}
